In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "A": np.random.randn(5),
    "B": np.random.rand(5),
})

df

          A         B
0  0.297385  0.714546
1  1.338269  0.877054
2 -1.059177  0.965297
3  1.745102  0.164805
4  0.009129  0.344167